{
    "uri": "http://localhost:3009/contactlist",
    "loop": "1",
    "log" : "./test.log",
    "goldlog": "./gold.log",
    "timeout": 500,
    "disabletestgroups": [],

    "groups": {
        "serial" : true,
        "list":[{"name" : "group one", "serial" : true,
                    "requests" :[{ "enable": 0, "method": "GET", "uri": "http://www.google.com", "absoluteuri" : true, "testid" : "getgoogle" },
                        { "enable": 1, "method": "PUT", "json": true, "body": {"contact": "Alex 613 720 0055", "ext": "432"}},
                        { "enable": 1, "method": "PUT", "json": true, "body": {"contact": "BG 321", "ext": "431"}},
                        { "enable": 1, "method": "DELETE", "uri": "/431/BG 321"},
                        { "enable": 1, "method": "DELETE", "uri": "/431/BG 321 "},
                        { "enable": 1, "method": "GET", "uri": "?q=b&ext=431", "testid": "get b for 431" },
                        { "enable": 1, "method": "GET", "uri": "?q=b&ext=433", "testid": "get b for 433" },
                        { "enable": 1, "method": "GET", "uri": "?q=a"},
                        { "enable": 0, "method": "GET", "uri": "?q=Jul"},
                        { "enable": 1, "method": "PUT", "json": true, "body": {"contact": "BG 321", "ext": "431"}},
                        { "enable": 1, "method": "GET", "testid": "get all contacts"}]},
                { "name" : "group two", "serial" : false,
                    "requests" :[{ "enable": 0, "method": "GET", "uri": "http://www.google.com", "absoluteuri" : true, "testid" : "getgoogle" },
                        { "enable": 1, "method": "PUT", "json": true, "body": {"contact": "Alex 613 720 0055", "ext": "432"}},
                        { "enable": 1, "method": "PUT", "json": true, "body": {"contact": "BG 321", "ext": "431"}},
                        { "enable": 1, "method": "DELETE", "uri": "/431/BG 321"},
                        { "enable": 1, "method": "DELETE", "uri": "/431/BG 321 "},
                        { "enable": 1, "method": "GET", "uri": "?q=b&ext=431", "testid": "get b for 431" },
                        { "enable": 1, "method": "GET", "uri": "?q=b&ext=433", "testid": "get b for 433" },
                        { "enable": 1, "method": "GET", "uri": "?q=a"},
                        { "enable": 0, "method": "GET", "uri": "?q=Jul"},
                        { "enable": 1, "method": "PUT", "json": true, "body": {"contact": "BG 321", "ext": "431"}},
                        { "enable": 1, "method": "GET", "testid": "get all contacts"}]},
                {   "name" : "group three", "serial" : true, "disabled" : true,
                    "requests" :[{ "enable": 0, "method": "GET", "uri": "http://www.google.com", "absoluteuri" : true, "testid" : "getgoogle" },
                        { "enable": 1, "method": "PUT", "json": true, "body": {"contact": "Alex 613 720 0055", "ext": "432"}},
                        { "enable": 1, "method": "PUT", "json": true, "body": {"contact": "BG 321", "ext": "431"}},
                        { "enable": 1, "method": "DELETE", "uri": "/431/BG 321"},
                        { "enable": 1, "method": "DELETE", "uri": "/431/BG 321 "},
                        { "enable": 1, "method": "GET", "uri": "?q=b&ext=431", "testid": "get b for 431" },
                        { "enable": 1, "method": "GET", "uri": "?q=b&ext=433", "testid": "get b for 433" },
                        { "enable": 1, "method": "GET", "uri": "?q=a"},
                        { "enable": 0, "method": "GET", "uri": "?q=Jul"},
                        { "enable": 1, "method": "PUT", "json": true, "body": {"contact": "BG 321", "ext": "431"}},
                        { "enable": 1, "method": "GET", "testid": "get all contacts"}]},
                { "name" : "group four", "serial" : false, "disabled" : true,
                    "requests" :[{ "enable": 0, "method": "GET", "uri": "http://www.google.com", "absoluteuri" : true, "testid" : "getgoogle" },
                        { "enable": 1, "method": "PUT", "json": true, "body": {"contact": "Alex 613 720 0055", "ext": "432"}},
                        { "enable": 1, "method": "PUT", "json": true, "body": {"contact": "BG 321", "ext": "431"}},
                        { "enable": 1, "method": "DELETE", "uri": "/431/BG 321"},
                        { "enable": 1, "method": "DELETE", "uri": "/431/BG 321 "},
                        { "enable": 1, "method": "GET", "uri": "?q=b&ext=431", "testid": "get b for 431" },
                        { "enable": 1, "method": "GET", "uri": "?q=b&ext=433", "testid": "get b for 433" },
                        { "enable": 1, "method": "GET", "uri": "?q=a"},
                        { "enable": 0, "method": "GET", "uri": "?q=Jul"},
                        { "enable": 1, "method": "PUT", "json": true, "body": {"contact": "BG 321", "ext": "431"}},
                        { "enable": 1, "method": "GET", "testid": "get all contacts"}]}
        ]

    }

}